body {
    background: #3aafa9;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.logo {
    width: 10%;
    padding: 10px;
}

.searchField {
        background-color: #feffff;
        color: #3aafa9;
        width: 20%;
        border: 1px solid #2b7a78;
        padding: 20px;
        height: 20px;
        border-radius: 5px 5px 5px 5px;
        outline: none;
      }

.randomPokemon {
        background-color: #feffff;
        color: #2b7a78;
        font-weight: bold;
        margin-top: 2px;
        width: 288px;
        border: 1px solid #2b7a78;
        height: 40px;
        border-radius: 5px 5px 5px 5px;
        outline: none;
}


#app {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}
 
 .card {
    position: relative;
    width: 150px;
    height: 200px;
    margin-top: 20px;
    border: 1px solid #2b7a78;
    border-radius: 1px;
  }

.cardImage {
    display: block;
    margin: auto;
}

.cardName {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    background-color: #2b7a78;
    color: #feffff;
    text-align: center;
}
 
.cardId {
    color: #feffff;
}

.cardType {
    background-color: #def2f1;
    color: #2b7a78;
    position: relative;
    padding: 3px;
    width: 20px;
    height: 10px;
    border: 1px solid #2b7a78;
    border-radius: 5px;
  }